body {
    font-family: 'Roboto', sans-serif; 
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.span {
    color: #2e2f42;
}

.nav-link-logo-blue {
color: #4d5ae5;
font-family: Raleway, sans-serif;
font-size: 18px;
text-transform: uppercase;
}

.nav-link-logo {
color: #2e2f42;
font-family: Raleway, sans-serif;
font-size: 18px;
text-transform: uppercase;
}

.nav-link {
color: #2e2f42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02;
}

.nav-link :hover {
color: #404bbf;
}

.header-address-link {
color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02;
}

.header-address-link :hover {
color: #404bbf;
}
/**================MAIN================*/

.hero {
background-color: #2e2f42;
}

.hero-title {
color: #fff;
text-align: center;
font-size: 56px;
}

.hero-bye-btn {
color: #fff;
font-size: 16px;
background: #4d5ae5;
cursor: pointer;
}

.hero-bye-btn:hover {
background-color: #404BBF;
}


/**=======================================*/

/**================SECTION================*/


.features-subtitle {
color: #2e2f42;
font-size: 20px;
}

.features-item-tex { 
color: #434455;
font-size: 16px;
}

/**=======================================*/

/**================SECTION================*/

.our-team {
background: #f4f4fd;
}
.team-title {
color: #2e2f42;
text-align: center;
text-transform: capitalize;
}

.team-subtitle {
color: #2e2f42;
font-size: 20px;
}

.profession {
color: #434455;
font-size: 16px;
}

/**=======================================*/

/**================SECTION================*/

.portfolio-title {
color: #2e2f42;
text-align: center;
font-size: 36px;
text-transform: capitalize;
background-color: #fff;
}

.portfolio-subtitle {
color: #2e2f42;
font-size: 20px;
}

.portfolio-direction {
color: #434455;
font-size: 16px;
}

/**=======================================*/

/**================SECTION================*/

.footer {
background-color: #2E2F42;
}

.footer-logo {
color: #4d5ae5;
font-family: Raleway, sans-serif;
font-size: 18px;
text-transform: uppercase;
}

.footer-logo-link {
color: var(--CLOUD, #F4F4FD);
font-family: Raleway, sans-serif;
font-size: 18px;
text-transform: uppercase;
}

.footer-information {
color: #f4f4Fd;
font-size: 16px;
}

/**=======================================*/