body {
    font-family: 'Roboto', sans-serif; 
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.span {
    color: #2e2f42;
}

.header-logo-italik {
color: var(--IRIS, #4D5AE5);
font-family: 'Raleway', sans-serif;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-logo {
color: var(--NAVY-BLUE, #2E2F42);
font-family: 'Raleway', sans-serif;
font-size: 18px;
letter-spacing: 0.03;
text-transform: uppercase;
}

.header-menu-link {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 16px;
line-height: 1.5;
font-weight: 500 
}

.header-address-link {
color: var(--SLATE, #434455);
font-size: 16px;
letter-spacing: 0.02;
}

/**================MAIN================*/

.hero {
background-color: #2E2F42;
}

.hero-title {
color: var(--WHITE, #FFF);
text-align: center;
font-size: 56px;
letter-spacing: 0.02;
}

.hero-bye-btn {
color: var(--WHITE, #FFF);
font-size: 16px;
background: var(--IRIS, #4D5AE5);
}


/**=======================================*/

/**================SECTION================*/

/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

.features-subtitle {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
letter-spacing: 0.02;
}

.features-item-tex { 
color: var(--SLATE, #434455);
font-size: 16px;
letter-spacing: 0.02;
}

/**=======================================*/

/**================SECTION================*/

.our-team {
    background: var(--CLOUD, #F4F4FD);
}
.team-title {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
letter-spacing: 0.02;
text-transform: capitalize;
}

.team-subtitle {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
letter-spacing: 0.02;
}

.profession {
color: var(--SLATE, #434455);
font-size: 16px;
letter-spacing: 0.02;
}

/**=======================================*/

/**================SECTION================*/

.portfolio-title {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
letter-spacing: 0.02; 
text-transform: capitalize;
background-color: #FFF;
}

.portfolio-subtitle {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
letter-spacing: 0.02;
}

.portfolio-direction {
color: var(--SLATE, #434455);
font-size: 16px;
letter-spacing: 0.02;
}

/**=======================================*/

/**================SECTION================*/

.footer {
background-color: #2E2F42;
}

.footer-logo {
color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
letter-spacing: 0.03; 
text-transform: uppercase;
}

.footer-logo-link {
color: var(--CLOUD, #F4F4FD);
font-family: Raleway;
font-size: 18px;
letter-spacing: 0.03;
text-transform: uppercase;
}

.footer-information {
color: var(--CLOUD, #F4F4FD);
font-size: 16px;
letter-spacing: 0.02;
}

/**=======================================*/